html, body {
	height: 100%;
}
input {
	box-sizing: border-box;
}
input:focus{
	outline:none;
}

.bg-image{
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: relative;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}

::placeholder  { color: var(--limedspruce); }

.white  { color: #fff }
.voodoo { color: var(--voodoo); }
.jumbo  { color: var(--jumbo); }

.bg-aqua       { background-color: var(--aquamarine); }
.bg-orangepeel { background-color: var(--orangepeel); }
.bg-t          { background-color: transparent; }

.cover   { background-size: cover; }

.br-0    { border-radius:0; }
.br-4    { border-radius:4px; }
.bs-s    { border-style: solid; }
.bn      { border:none; }

.shd    { box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,1); }

.w-100  { width: 100%; }
.mw-300 { max-width: 300px; }
.mw8    { max-width: 64rem; }

.mlra  { margin-right:auto; margin-left:auto; }

.mv2   { margin-top: 0.5rem; margin-bottom:0.5rem}

.mt4   { margin-top:2rem }
.mt6   { margin-top:8rem }

@media(min-width:800px){
	.mh0-ns { margin-right:0;    margin-left:0 }
	.mh4-ns { margin-right:2rem; margin-left:2rem; }
}

.mh0   { margin-left: 0; margin-right:0;}
.mb0   { margin-bottom:0; }
.mb1   { margin-bottom: 0.25rem }
.mb4   { margin-bottom: 2rem }
.mb45  { margin-bottom: 3rem; }
.mb5   { margin-bottom: 4rem; }

.pda2  { padding: 0.5rem; }
.pda3  { padding: 1rem; }
.pdl3  { padding-left:1rem; }
.pdl4  { padding-left:2rem; }
.pdb0  { padding-bottom:0;}
.pdb2  { padding-bottom: 0.5rem; }
.pdb4  { padding-bottom:2rem; }
.pdb5  { padding-bottom:4rem; }
.ph3   { padding-left: 1rem; padding-right:1rem}
.ph4   { padding-left: 2rem; padding-right:2rem}

.pt5   { padding-top: 4rem; }

.pr    { position: relative; }
.pa    { position: absolute; }

.db    { display: block; }

.mb2   { margin-bottom: 0.5rem; }

.h-100 { height: 100%; }

@media screen and (min-width: 800px) {
	.w-50-ns  { width:50%; }
}


.w-90 { width: 90%; }
.w-100 { width: 100%; }
@media screen and (min-width: 800px) {
	.w-75-ns   { width:  75%; }
}

.df { display: flex }
.fdc { flex-direction: column }
.fdr { flex-direction: row }

@media screen and (min-width: 800px) {
	.fdr-ns { flex-direction: row}
}
