html, body {
	font-family:Georgia, serif;
	font-size:16px;
  line-height:1.5;
}
p, img, blockquote, button, input {
  margin-bottom: 28px;
  margin-top: 0px;
}

.lh-solid { line-height:1; }

.orangepeel { color: var(--orangepeel); }
.heliotrope { color: var(--heliotrope) }
.limedspruce { color: var(--limedspruce); }

.avenir { font-family: 'avenir next', avenir, sans-serif; }
.rale { font-family:'Raleway'; }
.serif { font-family: Georgia, serif;}

.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

.tracked { letter-spacing: .16em }


.fh { font-size: 2.5rem; line-height:auto; }
@media screen and (min-width: 768px) {
	.fh-ns   { font-size: 4.75vw;}
}


.hero { font-size: 2.5rem; line-height:56px  }
.f1   { font-size: 4rem;   line-height:56px; }
.f2   { font-size: 2.8rem; line-height:49px; }
.f3   { font-size: 2rem;   line-height:42px; }
.f4   { font-size: 1.4rem; line-height:28px; }
.f5   { font-size: 1.0rem }
.f6   { font-size: 0.8rem}

h1, h2, h3, h4, h5, h6,
.fh .f1, .f2, .f3, .f4 {
  margin-top:0px;
  margin-bottom:24px;
}

.tc { text-align: center; }
